@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --tiktok-red: #fe2c55;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-geist-sans),
    system-ui,
    -apple-system,
    sans-serif;
  letter-spacing: -0.025em;
}

::selection {
  background-color: var(--tiktok-red);
  color: white;
}
